# Misc
snippet ->
	→
snippet |->
	↦
snippet ::
	∷
snippet all
	∀
snippet exist
	∃
snippet nexist
	∄
snippet void
	∅
snippet in
	∈
snippet nin
	∉
snippet neg
	¬
snippet end
	∎
snippet ==
	≡
snippet /==
	≡
snippet \<
	⟨
snippet \>
	⟩
snippet <=
	≤
snippet >=
	≥
snippet times
	×
snippet div
	÷
snippet top
	⊤
snippet bot
	⊥

