snippet ->
	→

snippet all
	∀

snippet exist
	∃

snippet nexist
	∄

snippet void
	∅

snippet mem
	∈

snippet nmem
	∉

snippet neg
	¬

snippet ::
	∷

snippet ==
	≡

snippet <=
	≤

snippet >=
	≥

snippet end
	∎

snippet times
	×

snippet div
	÷

snippet top
	⊤

snippet bot
	⊥

# Blackboard bold big
snippet ba
	𝔸
snippet bb
	𝔹
snippet bc
	ℂ
snippet bd
	𝔻
snippet be
	𝔼
snippet bf
	𝔽
snippet bg
	𝔾
snippet bh
	ℍ
snippet bi
	𝕀
snippet bj
	𝕁
snippet bk
	𝕂
snippet bl
	𝕃
snippet bm
	𝕄
snippet bn
	ℕ
snippet bo
	𝕆
snippet bp
	ℙ
snippet bq
	ℚ
snippet br
	ℝ
snippet bs
	𝕊
snippet bt
	𝕋
snippet bu
	𝕌
snippet bv
	𝕍
snippet bw
	𝕎
snippet bx
	𝕏
snippet by
	𝕐
snippet bz
	ℤ

# Blackboard bold small
snippet bA
	𝕒
snippet bB
	𝕓
snippet bC
	𝕔
snippet bD
	𝕕
snippet bE
	𝕖
snippet bF
	𝕗
snippet bG
	𝕘
snippet bH
	𝕙
snippet bI
	𝕚
snippet bJ
	𝕛
snippet bK
	𝕜
snippet bL
	𝕝
snippet bM
	𝕞
snippet bN
	𝕟
snippet bO
	𝕠
snippet bP
	𝕡
snippet bQ
	𝕢
snippet bR
	𝕣
snippet bS
	𝕤
snippet bT
	𝕥
snippet bU
	𝕦
snippet bV
	𝕧
snippet bW
	𝕨
snippet bX
	𝕩
snippet bY
	𝕪
snippet bZ
	𝕫

# Greek letter small
snippet ga
	α
snippet gb
	β
snippet gg
	γ
snippet gd
	δ
snippet ge
	ε
snippet gz
	ζ
snippet ge'
	η
snippet gth
	θ
snippet gi
	ι
snippet gk
	κ
snippet gl
	λ
snippet gm
	μ
snippet gu
	ν
snippet gx
	ξ
snippet go
	ο
snippet gp
	π
snippet gr
	ρ
snippet gs
	σ
snippet gt
	τ
snippet gy
	υ
snippet gf
	φ
snippet gc
	χ
snippet gps
	ψ
snippet go'
	ω

# Greek letter big
snippet gA
	α
snippet gB
	β
snippet gG
	γ
snippet gD
	δ
snippet gE
	ε
snippet gZ
	ζ
snippet gE'
	η
snippet gTH
	θ
snippet gI
	ι
snippet gK
	κ
snippet gL
	λ
snippet gM
	μ
snippet gU
	ν
snippet gX
	ξ
snippet gO
	ο
snippet gP
	π
snippet gR
	ρ
snippet gS
	σ
snippet gT
	τ
snippet gY
	υ
snippet gF
	φ
snippet gC
	χ
snippet gPS
	ψ
snippet gO'
	ω

