snippet be "begin{} / end{}" bA
	\begin{$1}
		$0
	\end{$1}

snippet al "begin{align} / end{align}" bA
	\begin{align}
		$0
	\end{align}

snippet bf "{\bf ...}" bA
	{\bf $1}$0

snippet it "{\it ...}" bA
	{\it $1}$0

snippet un "{\it ...}" bA
	{\un $1}$0

snippet fr "\frac {} {}" bA
	\frac {$1} {$2}$0
